[project]
	description = "java8  examples"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sarun85
[access "refs/for/refs/*"]
	read = group user/sarun85
	push = group user/sarun85
	label-Code-Review = -2..+2 group user/sarun85
	label-Verified = -1..+1 group user/sarun85
	rebase = group user/sarun85
	removeReviewer = group user/sarun85
	submit = group user/sarun85
[access "refs/heads/*"]
	read = group user/sarun85
	create = group user/sarun85
	push = +force group user/sarun85
	pushMerge = group user/sarun85
[access "refs/tags/*"]
	push = group user/sarun85
	push = +force group user/sarun85
